body {
    padding-top: 5rem;
    background-color: rgb(220, 235, 248);

}

i {
    margin-right: 0.2rem;
}

.card-form {
    background: rgb(255, 255, 255);
    border-top: 4px solid #007bff ;
    border-radius: 8px;
}

.profile-btn {
    display: flex;
    justify-content: space-around;
}
.icons {
    line-height: 10px;
    margin-bottom: 4px;
    padding: 8px;
}